<div ng-controller="DatosParticularesCtrl" class="container" style=" margin-bottom: 25px;">
    <form id="form_datos_generales" ng-submit="submit()">
        <div class="col-sm-12">
            <h5>Información Domiciliaria del Médico/a Aspirante</h5>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-8">
                    <div class="form-group">
                        <label>Calle: *</label>
                        <input required autocomplete="off" id="direccion_calle" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.domicilio_calle">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-2">
                    <div class="form-group">
                        <label>Número exterior: *</label>
                        <input required autocomplete="off" id="direccion_calle" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.domicilio_numero_exterior">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-2">
                    <div class="form-group">
                        <label>Número Interior:</label>
                        <input autocomplete="off" id="direccion_calle" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.domicilio_numero_interior">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="form-group">
                        <label>Entre calle 1: *</label>
                        <input required autocomplete="off" id="direccion_entre_calle_1" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.domicilio_entre_calle_1">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="form-group">
                        <label>Entre calle 2: *</label>
                        <input required autocomplete="off" id="direccion_entre_calle_2" class="form-control"
                            style="text-transform:uppercase" ng-model="form.domicilio_entre_calle_2">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Código postal: *</label>
                        <input required autocomplete="off" type="text" id="direccion_codigo_postal"
                            class="form-control toUpperCase" style="text-transform:uppercase" minlength="3"
                            maxlength="5" ng-change="get_domicilio_by_codigo_postal()" ng-model="find_codigo_postal">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Colonia: *</label>
                        <select required autocomplete="off" id="direccion_colonia" ng-model="form.codigo_postal_id"
                            ng-disabled="disabled_colonia" class="form-control">
                            <option value="" disabled>LISTA DE COLONIAS</option>
                            <option ng-repeat='colonia in colonias' value="{{colonia.id}}">{{colonia.colonia}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Municipio: *</label>
                        <input required disabled autocomplete="off" id="direccion_municipio"
                            class="form-control toUpperCase" style="text-transform:uppercase"
                            ng-model="select_municipio">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Entidad Federativa: *</label>
                            <input required disabled autocomplete="off" id="direccion_municipio"
                                class="form-control toUpperCase" style="text-transform:uppercase"
                                ng-model="select_estado">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-3">
                    <div class="form-group">
                        <label>Teléfono fijo: </label>
                        <input autocomplete="off" id="telefono_fijo" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.telefono_fijo" minlength="10" maxlength="15">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-3">
                    <div class="form-group">
                        <label>Teléfono celular/móvil: *</label>
                        <input required autocomplete="off" id="telefono_movil" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.telefono_movil" minlength="10" maxlength="15">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-3">
                    <div class="form-group">
                        <label>Correo electrónico: *</label>
                        <input type="email" requered autocomplete="off" id="correo_electronico" class="form-control"
                            ng-model="form.correo_electronico">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-3">
                    <div class="form-group">
                        <label>Comfirmar correo electrónico: *</label>
                        <input type="email" requered autocomplete="off" id="comfirmar_correo_electronico"
                            class="form-control" ng-model="form.comfirm_correo_electronico">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Estado civil: *<strong id="priority_selected"></strong></label>
                        <select required autocomplete="off" id="estado_civil" ng-model="form.estado_civil"
                            class="form-control">
                            <option value="" disabled>LISTA DE ESTADOS CIVILES</option>
                            <option value="1">SOLTERO</option>
                            <option value="2">CASADO</option>
                            <option value="3">VIUDO</option>
                            <option value="4">DIVORCIADO</option>
                            <option value="5">UNIÓN LIBRE</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Grupo sanguíneo: *</label>
                        <select required autocomplete="off" id="grupo_sanguineo" ng-model="form.grupo_sanguineo"
                            class="form-control">
                            <option value="" disabled>LISTA DE GRUPOS SANGUINEO</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">AB</option>
                            <option value="4">O</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Factor RH: *</label>
                        <select required autocomplete="off" id="grupo_sanguineo" ng-model="form.factor_rh"
                            class="form-control">
                            <option value="" disabled>LISTA DE FACTOR RH</option>
                            <option value="1">Positivo</option>
                            <option value="2">Negativo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-sm-12">
            <h5>Información talla de uniforme</h5>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Talla de bata: *</label>
                        <select required autocomplete="off" id="talla_bata" ng-model="form.talla_bata"
                            class="form-control">
                            <option value="" disabled>LISTA DE TALLA BATAS</option>
                            <option value="1">28</option>
                            <option value="2">30</option>
                            <option value="3">32</option>
                            <option value="4">34</option>
                            <option value="5">36</option>
                            <option value="6">38</option>
                            <option value="7">40</option>
                            <option value="8">42</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Talla zapatos: *</label>
                        <select required autocomplete="off" id="talla_zapatos" ng-model="form.talla_zapatos"
                            class="form-control">
                            <option value="" disabled>LISTA DE TALLA DE ZAPATOS</option>
                            <option value="1">23</option>
                            <option value="2">24</option>
                            <option value="3">25</option>
                            <option value="4">26</option>
                            <option value="5">27</option>
                            <option value="6">28</option>
                            <option value="7">29</option>
                            <option value="8">30</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Talla uniforme quirúrgico: *</label>
                        <select required autocomplete="off" id="talla_uniforme_quirurgico"
                            ng-model="form.talla_uniforme_quirurgico" class="form-control">
                            <option value="" disabled>LISTA DE TALLAS DE UNIFORME</option>
                            <option value="1">Extra chica</option>
                            <option value="2">Chica</option>
                            <option value="3">Mediana</option>
                            <option value="4">Grande</option>
                            <option value="5">Extra grande</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Talla de pantalón: *</label>
                        <select required autocomplete="off" id="talla_pantalon" ng-model="form.talla_pantalon"
                            class="form-control">
                            <option value="" disabled>LISTA DE TALLA DE PANTALÓN</option>
                            <option value="1">28</option>
                            <option value="2">30</option>
                            <option value="3">32</option>
                            <option value="4">34</option>
                            <option value="5">36</option>
                            <option value="6">38</option>
                            <option value="7">40</option>
                            <option value="8">42</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h5>Información institucional de licenciatura</h5>
        </div>
        <div class="col-sm-12">
            <div class="row">

                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Número de Folio del E.N.A.R.M </label>
                        <input autocomplete="off" id="folio_enarm" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.folio_enarm">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Cédula profesional: *</label>
                        <input required autocomplete="off" id="cedula_profesional" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.cedula_profesional">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>hospital de procedencia: *</label>
                        <input required autocomplete="off" id="hospital_procedencia" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.hospital_procedencia">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Institución de aval académico: *</label>
                        <select required autocomplete="off" class="form-control universidad"
                            ng-model="form.universidad_id">
                            <option disabled value="">LISTA DE UNIVERSIDADES</option>
                            <option ng-repeat="universidad in universidades" value="{{universidad.id}}">
                                {{universidad.universidad}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4" ng-if="form.universidad_id == 73">
                    <div class="form-group">
                        <label>Escribe el nombre de la universidad: *</label>
                        <input required autocomplete="off" type="text" id="otra_universidad"
                            class="form-control toUpperCase" style="text-transform:uppercase"
                            ng-model="form.universidad_otra_opcion">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Entidad de la institución: *</label>
                        <select required autocomplete="off" class="form-control entidades_id"
                            ng-model="form.institucion_entidad_id">
                            <option disabled value="">LISTA DE ENTIDADES FEDERATIVAS</option>
                            <option ng-repeat="entidad in entidades" value="{{entidad.id}}">{{entidad.estado}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Año de egreso: *</label>
                        <input required autocomplete="off" type="text" id="egreso" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.ano_egreso_licenciatura" maxlength="4">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Calificación obtenida por la institución académica: *</label>
                        <input required autocomplete="off" type="text" id="institucion_calificacion"
                            class="form-control toUpperCase" style="text-transform:uppercase" maxlength="5"
                            ng-model="form.promedio_licenciatura">
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <button type="submit" id="guardar_registro" class="btn btn-success  align-right"
                ng-disabled="button_disabled">Guardar</button>
        </div>
        <div class="text-right">
            <p>Da click <a href="<?= base_url();?>index.php/form/close">Aquí</a> para cambiar de convocatoria</p>
        </div>
    </form>
</div>