<section class="container" ng-controller="DatosArchivosCtrl">
    <div class="row">
        <div class="col-12 text-center">
            <h2>CARGA DE ARCHIVOS DE LOS ASPIRANTES EXTRANJEROS/AS</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="h5">Lista de documentos:</p>
                <ol>
                    <li id="documento_1">Sino presento el examen ENARM, deberá acreditar una
                        especialidad terminada.</li>
                    <li id="documento_2">Solicitud de ingreso original. <a href="<?= base_url(); ?>documentos/SOLICITUD-DE-INGRESO.docx">Descargar</a></li>
                    <li id="documento_3">Copia notariada original de acta de nacimiento apostillada.</li>
                    <li id="documento_6">Copia notariada original de Pasaporte apostillado o Credencial de Identidad.
                    </li>
                    <li id="documento_9">Copia Comprobante de domicilio reciente.</li>
                    <li id="documento_10">Copia Historial académico de la licenciatura con promedio mayor a
                        8.5. (notariada y apostillada).</li>
                    <li id="documento_11">Copia notariada original de terminación de internado o su homologo
                        Apostillado.</li>
                    <li id="documento_12">Copia Liberación de servicio social o su homologo Apostillado.</li>
                    <li id="documento_13">Título profesional. (copia notariada y apostillada).</li>
                    <li id="documento_14">Cédula profesional. (copia notariada y apostillada).</li>
                    <li id="documento_15">Copia Título de especialista. (copia notariada y apostillada).</li>
                    <li id="documento_16">Copia Cedula de Especialista. (copia notariada y apostillada).</li>
                    <li id="documento_18">Original Carta de motivos.</li>
                    <li id="documento_19">Original Dos Cartas de recomendación. <a href="<?= base_url(); ?>documentos/CARTA-DE-RECOMENDACION.docx">Descargar</a></li>
                    <li id="documento_20">Original Certificado médico.</li>
                    <li id="documento_21">Copia Cartilla de vacunación.</li>
                    <li id="documento_22">Copia Curriculum vitae abreviado sin probatorios no engargolado.</li>
                    <!-- <li id="documento_23">Original Constancia de Solvencia Económica.</li> -->
                    <li id="documento_24">Copia Recibo de pago por concepto de examen psicométrico y psicológico.
                    </li>
                    <li id="documento_31">Copia Pago de Inscripción.</li>
                    <li id="documento_25">Copia Curso ATLS, ACLS, o PALMS dependiendo especialidad.</li>
                    <li id="documento_26">Original Carta de buena conducta. <a href="<?= base_url(); ?>documentos/CARTA-BUENA-CONDUCTA.docx">Descargar</a></li>
                    <li id="documento_27">Original Carta de aceptación de los lineamientos para la organización y
                        funcionamiento de las Residencias Médicas en el Hospital
                        Juárez de México. <a href="<?= base_url(); ?>documentos/LINEAMIENTOS.docx">Descargar</a></li>
                    <!-- <li id="documento_28">Evaluación psicométrica y psicológica original.</li> -->
                    <li id="documento_29">Original Ficha de salud. <a href="<?= base_url(); ?>documentos/FICHA-DE-SALUD.pdf" target="_blank">Descargar</a></li>
                    <li id="documento_30">Fotografía digital.</li>
                   
                </ol>
            </div>
            <div class="col-md-4 text-center">
                <form id="fileSubmit">
                    <p class="h5">Archivo que desea subir:</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Archivos</label>
                        </div>
                        <select class="custom-select" id="select" name="select">
                            <option disabled value="">SELECCIONA UNA OPCIÓN</option>
                            <option value="1">Constancia certificada de seleccionado nacional.</option>
                            <option value="2">Solicitud de ingreso.</option>
                            <option value="3">Acta de nacimiento.</option>
                            <option value="6">Pasaporte apostillado.</option>
                            <option value="9">Comprobante de domicilio reciente.</option>
                            <option value="10">Historial académico de licenciatura.</option>
                            <option value="11">Terminación de internado.</option>
                            <option value="12">Liberación de servicio social.</option>
                            <option value="13">Título profesional apostillado.</option>
                            <option value="14">Cédula profesional apostillado.</option>
                            <option value="15">Título de especialista apostillado.</option>
                            <option value="16">Cédula de especialista apostillado.</option>
                            <option value="18">Carta de motivos.</option>
                            <option value="19">Dos Cartas de recomendación.</option>
                            <option value="20">Certificado médico.</option>
                            <option value="21">Cartilla de vacunación.</option>
                            <option value="22">Curriculum vitae abreviado sin probatorios no engargolado.</option>
                            <!-- <option value="23">Constancia de Solvencia Económica.</option> -->
                            <option value="24">Recibo de pago por concepto de examen psicométrico y psicológico.
                            </option>
                            <option value="31">Pago de Inscripción..
                            </option>
                            <option value="25">Curso ATLS, ACLS, o PALMS dependiendo especialidad.</option>
                              <option value="26">Carta de buena conducta.</option>
                            <option value="27">Carta de aceptación de lineamientos.</option>
                            <!-- <option value="28">Evaluación psicométrica y psicológica.</option> -->
                            <option value="29">Ficha de salud.</option>
                            <option value="30">Fotografía.</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h6 class="text-center text-danger">Seleccionar archivo</h6>
                        <input type="file" id="archivo" name="archivo" class="inputfile inputfile-5"
                            data-min-file-count="1" accept="application/pdf" enctype="multipart/form-data" required>
                        <label for="archivo">
                            <figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                    <path
                                        d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                                </svg></figure> <span></span>
                        </label>
                    </div>
                    <div>
                        <button type="submit" id="guardar_registro" class="btn btn-success align-right">Subir
                            archivo</button>
                    </div>
                    <div style="margin-top: 5%; margin-bottom: 5%;">
                        <button type="button" id="remove-file" name="remove-file"
                            class="btn btn-danger align-right">Quitar archivo</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-center">
                <div class="p-3 text-center border borde-dark">
                    <p class="h4">Visualización Previa</p>
                    <object id="view-pdf" data="" type="application/pdf" width="90%" height="400px">
                        <p>Tu navegador no soporta la visualizacion de PDF. Para ver el archivo es necesario
                            descargaro dando clic <a id="descarga" href="" target="_blank">Aqui</a>.
                        </p>
                    </object>
                    <p id="sin_file" class="text-center text-danger">
                        Sin Archivo.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <hr />
            <div class="text-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success align-right" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Finalizar Registro
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">!!!ADVERTENCIA¡¡¡</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-justify">
                            <h5>Estas a punto de concluir tu registro.</h5>
                            <p>
                                Por favor verifica antes que toda la documentanción se encuentre en orden antes de darle
                                al boton de conclir, en caso de presentar algun problema por favor comunicate al
                                siguiente contacto.
                                <br>
                                <br>
                                <strong> CONTACTO </strong>
                                <br>
                                Dr. Erik Efraín Sosa Duran
                                <br>
                                Jefe de posgrado del Hospital Juárez de México
                                <br>
                                CORREO: <a href="mailto:jefaturaposgradohjm@gmail.com">jefaturaposgradohjm@gmail.com</a>
                                <br>
                                TELÉFONO: 55 5747 7560 EXT. 7330
                            </p>
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <button type="button" ng-click="fin_registro()" class="btn btn-success align-right">
                                Concluir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <p>Da click <a href="<?= base_url();?>index.php/form/close">Aquí</a> para cambiar de convocatoria</p>
            </div>
        </div>
    </div>
</section>
<script>

    ; (function (document, window, index) {
        var inputs = document.querySelectorAll('.inputfile');
        Array.prototype.forEach.call(inputs, function (input) {
            var label = input.nextElementSibling,
                labelVal = label.innerHTML;

            input.addEventListener('change', function (e) {
                var fileName = '';
                if (this.files && this.files.length > 1)
                    fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                else
                    fileName = e.target.value.split('\\').pop();
                if (fileName)
                    label.querySelector('span').innerHTML = fileName;
                else
                    label.innerHTML = labelVal;

            });

            // Firefox bug fix
            input.addEventListener('focus', function () { input.classList.add('has-focus'); });
            input.addEventListener('blur', function () { input.classList.remove('has-focus'); });
        });
    }(document, window, 0));
</script>