.text_in_info {
   color:#093d56;
}
.donate-now li.four-elements{
    float: left;
    width:180px;
    height:180px;
    position: relative;
    border-style: double;
    border-color: gray;
    border-radius: 20px;  
}
label.four-elements{
    padding-top: 10%;
}

.text_center {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}       
.donate-now {
    list-style-type: none;
    border-radius: 20px; 
    align-content: center; 
    padding: 0px !important;

}

.donate-now label.square,
.donate-now input.square {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px; 
    margin:0px;
    text-align: center;
}

.donate-now input.square[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.donate-now input.square[type="radio"]:checked+label.square,
.Checked+label.square {
    background: #006594;
    color:white;
}

.donate-now label.square {
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}

.donate-now li.square:hover {
    background: #DDD;
}

.candidato{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-top: 15px;
}
