<div class="container" ng-controller="BienvenidaCtrl">

    <div style=" margin-bottom: 25px;">

        <p>El Hospital Juárez de México, a través de la Dirección de Investigación y Enseñanza comunica a los/las
            médicos/as de las diversas escuelas y facultades de medicina nacionales y extranjeros con las sigueintes
            fechas.</p>
        <ul>
            <li ng-repeat="convocatoria in convocatorias">{{convocatoria.nombre_convocatoria}} - Inicio:
                {{convocatoria.fecha_inicio}} y finaliza: {{convocatoria.fecha_termino}}</li>
        </ul>
        <p><strong>IMPORTANTE</strong> </p>
        <p>Al ser seleccionados todos los documentos se entregarán en copias para generar un expediente administrativo,
            entregarlo en un Folder Rojo y se cotejará con los originales.</p>
        <p>Los documentos academicos generados en el extranjero deben de presentarse en original para su cotejo, y una
            copia notariada con su apostilla. Los cuales deberán de realizarlos en la instancia legal que faculte a cada
            país.</p>
        <p>Si usted no cumple con todos los requisitos le solicitamos atentamente no realizar el registro ni el pago del
            examen psicométrico ya que no habrá devolución.</p>
        <br>
        <p><strong> CONTACTO </strong><br>Dr. Erik Efraín Sosa Duran <br>Jefe de posgrado Hospital Juárez de
            México <br>CORREO: <a
                href="mailto:jefaturaposgradohjm@gmail.com">jefaturaposgradohjm@gmail.com</a><br>TELÉFONO: 55 5747 7560
            EXT. 7330 <br>PÁGINA <a
                href="https://www.google.com/url?q=https://www.gob.mx/salud/hjm&amp;sa=D&amp;source=editors&amp;ust=1634831909208000&amp;usg=AOvVaw15tiM3VGlsGnyMpSf1JwyO">https://www.gob.mx/salud/hjm</a><br>
        </p>
        <hr />
        <p> <input type="checkbox" ng-model="show_convotorias_list" /> Acepto <a
                href="<?= base_url();?>documentos/APRIV_SIMPLIFICADO_HJM_2022 Protocolos y encuestas.pdf"
                target="_blank" rel="noopener noreferrer">aviso de privacidad, las condiciones y
                términos</a> de la convocatoria para el ciclo escolar {{year_uno}}-{{year_dos}}
        </p>
        <hr>
        <div class="col-sm-12 col-xl-4" ng-if="show_convotorias_list">
            <form ng-submit="submit()">
                <div class="form-group">
                    <label>Convocatorias *</label>
                    <select required autocomplete="off" class="form-control" ng-change="select_cursos()"
                        ng-model="form.convocatoria_id">
                        <option disabled selected value="">LISTA DE CONVOCATORIAS</option>
                        <option ng-repeat="convocatoria in convocatorias" value="{{convocatoria.id}}">
                            {{convocatoria.nombre_convocatoria}}</option>
                    </select>
                    <label>Cursos *</label>
                    <select required autocomplete="off" class="form-control" ng-model="form.curso_id">
                        <option disabled selected value="">LISTA DE CURSOS</option>
                        <option ng-repeat="curso in cursos" value="{{curso.id}}">
                            CURSO: {{curso.curso}}</option>
                    </select>
                    <label>Nacionalidad *</label>
                    <select required autocomplete="off" class="form-control" ng-model="form.pais_id">
                        <option disabled selected value="">LISTA DE NACIONALIDADES</option>
                        <option value="{{paises[0].id}}">{{paises[0].pais}}</option>
                        <option ng-repeat="pais in paises | orderBy: 'pais':reverse"
                            ng-if="pais.id > 1 && pais.id < 244" value="{{pais.id}}">
                            {{pais.pais}}</option>
                        <option value="{{paises[243].id}}">{{paises[243].pais}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Continuar</button>
            </form>
        </div>
    </div>
</div>