<div class="container" ng-controller="CabeceraFormCtrl">
    <div>
        <div class="col-sm-12" style=" text-align: center;">
            <img src="<?= base_url(); ?>img/logo_salud_juarez.png" alt="Hospital Juárez de México" width="70%"
                style=" text-align: center;padding-bottom: 35px; ">
        </div>
        <h2 style="text-transform:uppercase; text-align: center;">{{nombre_convocatoria}}</h2>
        <h4 style="text-transform:uppercase; text-align: center;">CURSO: {{curso.curso}}</h4>
        <h4 style="text-transform:uppercase; text-align: center;">PROFESOR: {{curso.profesor_titular}}</h4>
        <hr />
        <hr />
    </div>
    
</div>