<div class="container">
    <div>
        <div class="col-sm-12" style=" text-align: center;">
            <img src="<?= base_url(); ?>img/logo_salud_juarez.png" alt="Hospital Juárez de México" width="70%"
                style=" text-align: center;padding-bottom: 35px; ">
        </div>
        <h2 style=" text-align: center;">REGISTRO PARA ASPIRANTES A RESIDENCIAS MÉDICAS</h2>
        <hr />
        <hr />
    </div>
    
</div>