<section class="container">
    <div class="row">
        <div class="col-md-12" style="padding-top: 50px; padding-bottom: 50px;">
            <h2 class="text-center h1">Registro Exitoso</h2>
            <!-- <p class="h5 text-justify">Has finalizado la primera fase, continua con tú <a target="_blank"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdZPQauydXHECCyfIn6yg01o88CsSTCekZtzjKP4HuEuZ1E3Q/viewform">Registro
                    para
                    examen Psicométrico</a>
                y espera atento a las citas por correo para examen y
                entrevista con los profesores.</p> -->
            <p class="h5 text-justify">Has finalizado la primera fase, continua con tú <a target="_blank"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdZPQauydXHECCyfIn6yg01o88CsSTCekZtzjKP4HuEuZ1E3Q/viewform">Registro
                    para
                    examen Psicométrico</a>
                y espera atento a las citas por correo para examen y
                entrevista con los profesores.<br>El examen psicométrico para las
                especialidades de entrada indirecta y alta especialidad, se
                aplicara el dia dos de agosto 2022 a las 8 am y para entrada directa el lunes 10 de octubre.</p>
            <p class="h5 text-justify">Indicaciones:<br>
            <ol>
                <li>Presentarse en el auditorio Manuel Velazco Suarez a las 08:00, puntuales y desayunados
                    con vestimenta comoda</li>
                <li>Uso obligatorio de cubre bocas</li>
                <li> Traer un lápiz del 2/0, sacapuntas, borrador, pluma (boligrafo) negra y una tabla para
                    recargarse</li>
            </ol>
            <p class="h5 text-justify">Al término se les asignara fecha y hora para entrevista psicológica, en caso de
                no asistir no hay prorroga.</p>
            </p>
            <p class="h5 text-center"><a class="btn btn-primary btn-lg"
                    href="<?= base_url();?>index.php/form/close">Salir</a>
            </p>
        </div>
    </div>
</section>