<div>
    <div class="col-sm-12" style=" text-align: center;">
        <img src="img/logo.png" alt="Hospital Juárez de México" width="50%" style=" text-align: center;padding-bottom: 35px; ">
    </div>
</div>
<div style=" margin-bottom: 25px;">
    <h2 style=" text-align: center;">CONVOCATORIA RESIDENCIAS MÉDICAS CICLO ESCOLAR 2022-2023</h2>
    <hr />
    <hr />
    <p>El Hospital Juárez de México, a través de la Dirección de Investigación y Enseñanza comunica a los/las médicos/as de las diversas escuelas y facultades de medicina nacionales y extranjeros que el 18 Octubre 2021 se abrirá el proceso de selección para realizar CURSOS UNIVERSITARIOS DE ESPECIALIDAD DE ENTRADA DIRECTA, QUE INICIA EL 1 MARZO 2022: la recepción de documentos finaliza el 31 de OCTUBRE 2021.</p>
    <p><strong>IMPORTANTE</strong> </p>
    <p>Al ser seleccionados todos los documentos se entregarán en copias para generar un expediente administrativo, entregarlo en un Folder Rojo y se cotejará con los originales.</p>
    <p>Los documentos generados en el extranjero deben de presentarse en original para su cotejo, y una copia apostillada. Los cuales deberán de realizarlos en la instancia legal que faculte a cada país. <br><br><strong> CONTACTO </strong><br>Dr. Erik Efraín Sosa Duran <br>Jefe de posgrado Hospital Juárez de México <br>CORREO <a href="mailto:jefaturaposgradohjm@gmail.com">jefaturaposgradohjm@gmail.com</a><br>TELÉFONO 54477560 EXT. 7340 Y 7366<br>PÁGINA <a href="https://www.google.com/url?q=https://www.gob.mx/salud/hjm&amp;sa=D&amp;source=editors&amp;ust=1634831909208000&amp;usg=AOvVaw15tiM3VGlsGnyMpSf1JwyO">https://www.gob.mx/salud/hjm</a><br></p>
    <hr />
    <p>Acepto que Leí las Condiciones y Términos de la CONVOCATORIA PARA LAS RESIDENCIAS MÉDICAS 2022-2023 * </br>
        CONVOCATORIA PARA RESIDENCIAS MÉDICAS 2022-2023 HOSPITAL JUÁREZ DE MÉXICO</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="acepto_terminos" id="acepto_terminos">
        <label id="label_acepto" class="form-check-label" for="acepto_terminos">
            Acepto
        </label>
    </div>
</div>
</div>