<footer>
    <div class="col-sm-12" style=" text-align: center;">
        <img src="<?= base_url(); ?>img/desarrollado_en_ciimeit.png" alt="Hospital Juárez de México" 
            style=" text-align: center;padding-bottom: 35px; ">
    </div>
    <!-- <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href=""> CIIMEIT</a>
      </div> -->
</footer>