<section class="container" ng-controller="AspirantesCtrl">
    <div class="row">
        <div class="col-12">
            <p></p>
            <h1 class="text-uppercase text-center">Aspirantes</h1>
            <p></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <form class="needs-validation text-center" ng-submit="submit()">
                <div class="form-row">
                    <div class="col-12 text-uppercase text-center">
                        <h2>Filtro</h2>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label for="validationCustom02">Curso</label>
                        <div class="input-group">
                            <select required class="custom-select" id="inputGroupSelect01"
                                ng-change="select_convocatorias()" ng-model="form.curso_id">
                                <option selected value="" disabled>Elija una opción</option>
                                <option ng-repeat="curso in cursos" value="{{curso.id}}">{{curso.curso}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label for="validationCustomUsername">Convocatoria</label>
                        <div class="input-group">
                            <select required class="custom-select" id="inputGroupSelect01"
                                ng-model="form.convocatoria_id">
                                <option selected value="" disabled>Elija una opción</option>
                                <option ng-repeat="convocatoria in convocatorias" value="{{convocatoria.id}}">
                                    {{convocatoria.nombre_convocatoria}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label for="validationCustomUsername">Nacionalidad</label>
                        <div class="input-group">
                            <select required class="custom-select" id="inputGroupSelect01" ng-model="form.nacionalidad">
                                <option selected value="" disabled>Elija una opción</option>
                                <option value="1">Nacional</option>
                                <option value="2">Extranjero</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row" ng-show="show_aspirantes">
        <div class="col-lg-6 input-group mb-3" style="padding-bottom: 1%;">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control" aria-label="With textarea" placeholder="Buscar por Nombre"
                style="text-transform: uppercase;" ng-model="search"></input>
        </div>
        <div class="input-group mb-3 col-md-3" style="padding-bottom: 1%;">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect001">Status</label>
            </div>
            <select class="custom-select" id="inputGroupSelect001" ng-model="select">
                <option select value=''>Todos</option>
                <option value=-1> Rechazado</option>
                <option value=2> Registro Finalizado </option>
                <option value=3> Aceptado</option>
            </select>
        </div>
        <div class="col-12 text-center table-responsive" style="padding-bottom: 20px; height: 30rem;overflow-y: auto;">
            <table class="table table-sm table-striped table-hover table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aspirante in aspirantes | filter:{ nombre_completo:search} | filter:{status:select}">
                        <td class="align-middle">{{aspirante.nombre_completo}}
                        </td>
                        <td class="align-middle">{{aspirante.correo_electronico}}
                        </td>
                        <td class="align-middle" ng-if="show_modal_nacionalidad == 1">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalNacional" ng-click="get_datos_aspirante(aspirante.id)">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                        <td class="align-middle" ng-if="show_modal_nacionalidad == 2">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalExtranjero" ng-click="get_datos_aspirante(aspirante.id)">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                        <td class="align-middle bg-danger text-white" ng-if="aspirante.status == -1">Rechazado</td>
                        <td class="align-middle bg-secondary text-white" ng-if="aspirante.status == 2">Registro
                            Finalizado
                        </td>
                        <td class="align-middle bg-success text-white" ng-if="aspirante.status == 3">Aceptado</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-show="!show_aspirantes">
        <div class="col-12  text-center">
            <h4 class="text-uppercase">{{mensaje}}</h4>
        </div>
    </div>
    <div>
        <div class="col-lg-6">
            <!-- Modal -->
            <div class="modal fade" id="modalNacional" tabindex="-1" role="dialog" aria-labelledby="modalNacionalTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h3 class="modal-title text-white" id="modalNacionalTitle">Aspirante</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="text-white" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row text-center" ng-if="datos_aspirante.datos_personales != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS PERSONALES</h4>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">NOMBRE:</h6>
                                    <p>{{datos_aspirante.datos_personales.nombre}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">APELLIDO PATERNO:</h6>
                                    <p>{{datos_aspirante.datos_personales.apellido_1}}</p>
                                </div>
                                <div class="col-lg-4" ng-if="datos_aspirante.datos_personales.apellido_2 != null ">
                                    <h6 class="text-secondary font-weight-bold">APELLIDO MATERNO:</h6>
                                    <p>{{datos_aspirante.datos_personales.apellido_2}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">GENERO:</h6>
                                    <p>{{datos_aspirante.datos_personales.genero}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">FECHA DE NACIMIENTO:</h6>
                                    <p>{{datos_aspirante.datos_personales.fecha_nacimiento }}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">CURP:</h6>
                                    <p>{{datos_aspirante.datos_personales.curp}}</p>
                                </div>
                                <div class="col-lg-4" ng-if="datos_aspirante.datos_personales.rfc != null ">
                                    <h6 class="text-secondary font-weight-bold">RFC:</h6>
                                    <p>{{datos_aspirante.datos_personales.rfc}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">ESTADO CIVIL:</h6>
                                    <p>{{datos_aspirante.datos_particulares.estado_civil}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">GRUPO SANGUÍNEO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.grupo_sanguineo}}
                                        {{datos_aspirante.datos_particulares.factor_rh}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">ESTADO:</h6>
                                    <p>{{datos_aspirante.datos_personales.nacimiento_entidad}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">PAIS:</h6>
                                    <p>{{datos_aspirante.datos_personales.pais}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.datos_particulares != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS DOMICILIARIOS</h4>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">CALLE:</h6>
                                    <p>{{datos_aspirante.datos_particulares.domicilio_calle}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">NUMERO EXT:</h6>
                                    <p>{{datos_aspirante.datos_particulares.domicilio_numero_exterior}}</p>
                                </div>
                                <div class="col-lg-4"
                                    ng-if="datos_aspirante.datos_particulares.domicilio_numero_interior != null ">
                                    <h6 class="text-secondary font-weight-bold">NUMERO INT:</h6>
                                    <p>{{datos_aspirante.datos_particulares.domicilio_numero_interior}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">ENTRE CALLE :</h6>
                                    <p>{{datos_aspirante.datos_particulares.domicilio_entre_calle_1}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">Y CALLE:</h6>
                                    <p>{{datos_aspirante.datos_particulares.domicilio_entre_calle_2}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">CODIGO POSTAL:</h6>
                                    <p>{{datos_aspirante.datos_particulares.codigo_postal}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">COLONIA:</h6>
                                    <p>{{datos_aspirante.datos_particulares.colonia}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">MUNICIPIO/DELEGACION:</h6>
                                    <p>{{datos_aspirante.datos_particulares.municipio}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">ESTADO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.estado}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.datos_particulares != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS DE CONTACTO</h4>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">TELEFONO FIJO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.telefono_fijo}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">TELEFONO MOVIL:</h6>
                                    <p>{{datos_aspirante.datos_particulares.telefono_movil}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">EMAIL:</h6>
                                    <p>{{datos_aspirante.datos_particulares.correo_electronico}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.datos_particulares != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS DEL UNIFORME</h4>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="text-secondary font-weight-bold">TALLA DEL UNIFORME QUIRURGICO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.talla_uniforme_quirurgico}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="text-secondary font-weight-bold">TALLA DE LA BATA:</h6>
                                    <p>{{datos_aspirante.datos_particulares.talla_bata}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="text-secondary font-weight-bold">TALLA DEL PANTALON:</h6>
                                    <p>{{datos_aspirante.datos_particulares.talla_pantalon}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="text-secondary font-weight-bold">TALLA DE ZAPATOS:</h6>
                                    <p>{{datos_aspirante.datos_particulares.talla_zapatos}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.datos_particulares != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS DE LA LICENCIATURA</h4>
                                </div>
                                <div class="col-lg-4" ng-if="datos_aspirante.datos_particulares.folio_enarm != null ">
                                    <h6 class="text-secondary font-weight-bold">FOLIO ENARM:</h6>
                                    <p>{{datos_aspirante.datos_particulares.folio_enarm}}</p>
                                </div>
                                <div class="col-lg-4"
                                    ng-if="datos_aspirante.datos_particulares.cedula_profesional != null ">
                                    <h6 class="text-secondary font-weight-bold">CEDULA PROFESIONAL:</h6>
                                    <p>{{datos_aspirante.datos_particulares.cedula_profesional}}</p>
                                </div>
                                <div class="col-lg-4"
                                    ng-if="datos_aspirante.datos_particulares.hospital_procedencia != null ">
                                    <h6 class="text-secondary font-weight-bold">HOSPITAL DE PROCEDENCIA:</h6>
                                    <p>{{datos_aspirante.datos_particulares.hospital_procedencia}}</p>
                                </div>
                                <div class="col-lg-4" ng-if="datos_aspirante.datos_particulares.universidad != null ">
                                    <h6 class="text-secondary font-weight-bold">UNIVERSIDAD:</h6>
                                    <p>{{datos_aspirante.datos_particulares.universidad}}</p>
                                </div>
                                <div class="col-lg-4"
                                    ng-if="datos_aspirante.datos_particulares.institucion_entidad != null ">
                                    <h6 class="text-secondary font-weight-bold">ESTADO DONDE SE ENCUENTRA:</h6>
                                    <p>{{datos_aspirante.datos_particulares.institucion_entidad}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">AÑO DE INGRESO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.ano_egreso_licenciatura}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">PROMEDIO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.promedio_licenciatura}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.archivos.length != 0">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">ARCHIVOS</h4>
                                </div>
                                <div class="col-12" ng-repeat="archivo in datos_aspirante.archivos"
                                    style="padding-bottom: 5px;">
                                    <button class="btn btn-sm btn-outline-dark"
                                        ng-click="view_document(archivo.ruta)">{{archivo.file_name}}</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.status == 2 ">
                                <div class="col-lg-12">
                                    <h4 class="text-primary font-weight-bold text-uppercase">Acciones</h4>
                                    <p></p>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        <button type="button" class="btn btn-success"
                                            ng-click="aceptar_aspirante(datos_aspirante.id)">Aceptar Aspirante
                                        </button>
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        <button type="button" class="btn btn-danger"
                                            ng-click="rechazar_aspirante(datos_aspirante.id)">Rechazar Aspirante
                                        </button>
                                    </p>
                                </div>
                            </div>
                            <div class="row text-center" ng-if="datos_aspirante.status != 2 ">
                                <div class="col-lg-12">
                                    <h4 class="text-primary font-weight-bold text-uppercase">Acciones</h4>
                                    <p></p>
                                </div>
                                <div class="col-lg-12">
                                    <p><button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <!-- Modal -->
            <div class="modal fade" id="modalExtranjero" tabindex="-1" role="dialog"
                aria-labelledby="modalExtranjeroTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h3 class="modal-title text-white" id="modalNacionalTitle">Aspirante</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="text-white" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row text-center" ng-if="datos_aspirante.datos_personales != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS PERSONALES</h4>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">NOMBRE:</h6>
                                    <p>{{datos_aspirante.datos_personales.nombre}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">APELLIDO PATERNO:</h6>
                                    <p>{{datos_aspirante.datos_personales.apellido_1}}</p>
                                </div>
                                <div class="col-lg-4" ng-if="datos_aspirante.datos_personales.apellido_2 != null ">
                                    <h6 class="text-secondary font-weight-bold">APELLIDO MATERNO:</h6>
                                    <p>{{datos_aspirante.datos_personales.apellido_2}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">GENERO:</h6>
                                    <p>{{datos_aspirante.datos_personales.genero}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">FECHA DE NACIMIENTO:</h6>
                                    <p>{{datos_aspirante.datos_personales.fecha_nacimiento }}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">PASAPORTE:</h6>
                                    <p>{{datos_aspirante.datos_personales.pasaporte}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">ESTADO CIVIL:</h6>
                                    <p>{{datos_aspirante.datos_particulares.estado_civil}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">GRUPO SANGUÍNEO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.grupo_sanguineo}}
                                        {{datos_aspirante.datos_particulares.factor_rh}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">PAIS:</h6>
                                    <p>{{datos_aspirante.datos_personales.pais}}</p>
                                </div>

                            </div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.datos_particulares != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS DOMICILIARIOS</h4>
                                </div>
                                <div class="col-lg-12">
                                    <h6 class="text-secondary font-weight-bold">Domicilio:</h6>
                                    <p>{{datos_aspirante.datos_particulares.domicilio_extranjero}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.datos_particulares != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS DE CONTACTO</h4>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">TELEFONO FIJO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.telefono_fijo}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">TELEFONO MOVIL:</h6>
                                    <p>{{datos_aspirante.datos_particulares.telefono_movil}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">EMAIL:</h6>
                                    <p>{{datos_aspirante.datos_particulares.correo_electronico}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.datos_particulares != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS DEL UNIFORME</h4>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="text-secondary font-weight-bold">TALLA DEL UNIFORME QUIRURGICO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.talla_uniforme_quirurgico}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="text-secondary font-weight-bold">TALLA DE LA BATA:</h6>
                                    <p>{{datos_aspirante.datos_particulares.talla_bata}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="text-secondary font-weight-bold">TALLA DEL PANTALON:</h6>
                                    <p>{{datos_aspirante.datos_particulares.talla_pantalon}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="text-secondary font-weight-bold">TALLA DE ZAPATOS:</h6>
                                    <p>{{datos_aspirante.datos_particulares.talla_zapatos}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.datos_particulares != null">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">DATOS DE LA LICENCIATURA</h4>
                                </div>
                                <div class="col-lg-4" ng-if="datos_aspirante.datos_particulares.folio_enarm != null ">
                                    <h6 class="text-secondary font-weight-bold">FOLIO ENARM:</h6>
                                    <p>{{datos_aspirante.datos_particulares.folio_enarm}}</p>
                                </div>
                                <div class="col-lg-4"
                                    ng-if="datos_aspirante.datos_particulares.cedula_profesional != null ">
                                    <h6 class="text-secondary font-weight-bold">CEDULA PROFESIONAL:</h6>
                                    <p>{{datos_aspirante.datos_particulares.cedula_profesional}}</p>
                                </div>
                                <div class="col-lg-4"
                                    ng-if="datos_aspirante.datos_particulares.hospital_procedencia != null ">
                                    <h6 class="text-secondary font-weight-bold">HOSPITAL DE PROCEDENCIA:</h6>
                                    <p>{{datos_aspirante.datos_particulares.hospital_procedencia}}</p>
                                </div>
                                <div class="col-lg-4" ng-if="datos_aspirante.datos_particulares.universidad != null ">
                                    <h6 class="text-secondary font-weight-bold">UNIVERSIDAD:</h6>
                                    <p>{{datos_aspirante.datos_particulares.universidad}}</p>
                                </div>
                                <div class="col-lg-4"
                                    ng-if="datos_aspirante.datos_particulares.institucion_entidad != null ">
                                    <h6 class="text-secondary font-weight-bold">ESTADO DONDE SE ENCUENTRA:</h6>
                                    <p>{{datos_aspirante.datos_particulares.institucion_entidad}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">AÑO DE INGRESO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.ano_egreso_licenciatura}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-secondary font-weight-bold">PROMEDIO:</h6>
                                    <p>{{datos_aspirante.datos_particulares.promedio_licenciatura}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center" ng-if=" datos_aspirante.archivos.length != 0">
                                <div class="col-12">
                                    <h4 class="text-primary font-weight-bold">ARCHIVOS</h4>
                                </div>
                                <div class="col-12" ng-repeat="archivo in datos_aspirante.archivos"
                                    style="padding-bottom: 5px;">
                                    <button class="btn btn-sm btn-outline-dark"
                                        ng-click="view_document(archivo.ruta)">{{archivo.file_name}}</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr>
                            <div class="row text-center" ng-if="datos_aspirante.status == 2 ">
                                <div class="col-lg-12">
                                    <h4 class="text-primary font-weight-bold text-uppercase">Acciones</h4>
                                    <p></p>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        <button type="button" class="btn btn-success"
                                            ng-click="aceptar_aspirante(datos_aspirante.id)">Aceptar Aspirante
                                        </button>
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        <button type="button" class="btn btn-danger"
                                            ng-click="rechazar_aspirante(datos_aspirante.id)">Rechazar Aspirante
                                        </button>
                                    </p>
                                </div>
                            </div>
                            <div class="row text-center" ng-if="datos_aspirante.status != 2 ">
                                <div class="col-lg-12">
                                    <h4 class="text-primary font-weight-bold text-uppercase">Acciones</h4>
                                    <p></p>
                                </div>
                                <div class="col-lg-12">
                                    <p><button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>