<section ng-controller="ChangePasswordCtrl">
    <div class="container">
        <div class="col-12 text-center">
            <p></p>
            <h1>CAMBIO DE CONTRASEÑA</h1>
            <p></p>
        </div>
        <form ng-submit="submit()">
            <div class="form-row justify-content-md-center">
                <div class="form-group col-md-12">
                    <p></p>
                </div>
                <div class="form-group col-md-4">
                    <label for="">Contraseña Actual:</label>
                    <div class="input-group">
                        <input required ng-attr-type="{{ show_password_actual ? 'text' : 'password' }}"
                            name="pass" class="form-control" ng-model="form_pass.password_actual" >
                        <div class="input-group-append">
                            <span class="input-group-text" ng-click="show_password_actual = !show_password_actual"><i
                                    ng-class="show_password_actual ? 'fa fa-eye-slash' : 'fa fa-eye'"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="">Nueva Contraseña:</label>
                    <div class="input-group">
                        <input required ng-maxlength="16" ng-attr-type="{{ show_password ? 'text' : 'password' }}"
                            name="pass" class="form-control" ng-model="form_pass.password" ng-minlength="6">
                        <div class="input-group-append">
                            <span class="input-group-text" ng-click="show_password = !show_password"><i
                                    ng-class="show_password ? 'fa fa-eye-slash' : 'fa fa-eye'"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="">Confirmar Contraseña:</label>
                    <div class="input-group">
                        <input required ng-maxlength="16" ng-attr-type="{{ show_confirmpass ? 'text' : 'password' }}"
                            name="confirmpass" class="form-control" confirm-password="form_pass.password"
                            ng-model="form_pass.confirmpassword" ng-minlength="6">
                        <div class="input-group-append">
                            <span class="input-group-text" ng-click="show_confirmpass = !show_confirmpass"><i
                                    ng-class="show_confirmpass ? 'fa fa-eye-slash' : 'fa fa-eye'"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2 text-center">
                    <button type="submit" class="btn btn-success btn-lg" ng-disabled="disabled_button">Guardar</button>
                </div>
                <div class="form-group col-md-2 text-center">
                    <a class="btn btn-danger btn-lg" href="<?= base_url();?>main"> Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</section>