<section class="container" ng-controller="ConvocatoriasCtrl">
    <div class="row">
        <div class="col-12">
            <p></p>
            <h1 class="text-uppercase text-center">convocatorias</h1>
            <p></p>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-12 text-right" style="padding-bottom: 1%;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#convocatoria"
                ng-click="reset_form_convovatoria()">
                <i class="fas fa-plus"></i> Nueva
            </button>
        </div>
        <div class="col-12 text-center table-responsive" style="padding-bottom: 20px; height: 30rem;overflow-y: auto;"
            ng-if="show_table_convocatorias">
            <table class="table table-sm table-striped table-hover table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">Convocatoria</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="convocatoria in convocatorias">
                        <td class="align-middle">{{convocatoria.nombre_convocatoria}}</td>
                        <td class="align-middle" ng-if="convocatoria.status == 1">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-3" style="padding: .5rem .5rem;"> <button type="button"
                                        class="btn btn-primary" data-toggle="modal" data-target="#convocatoriaEdit"
                                        ng-click="get_convocatoria(convocatoria.id)">
                                        Editar<br><i class="fas fa-edit"></i>
                                    </button>
                                </div>
                                <div class="col-lg-3" style="padding: .5rem .5rem;">
                                    <button type="button" class="btn btn-warning"
                                        ng-click="deshabilitar_convocatoria(convocatoria.id)">
                                        Deshabilitar<br><i class="fas fa-toggle-off"></i></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle" ng-if="convocatoria.status == -1">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-3" style="padding: .5rem .5rem;">
                                    <button type="button" class="btn btn-success"
                                        ng-click="habilitar_convocatoria(convocatoria.id)">
                                        Habilitar<br><i class="fas fa-toggle-on"></i></i>
                                    </button>
                                </div>
                                <div class="col-lg-3" style="padding: .5rem .5rem;"> <button type="button"
                                        class="btn btn-danger" ng-click="finish_convocatoria(convocatoria.id)">
                                        Finalizar<br><i class="fas fa-edit"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 text-center" ng-if="!show_table_convocatorias">
            <h3>No hay convocatorias.</h3>
        </div>
        <div class="col-md-6">
            <!-- Modal -->
            <div class="modal fade" id="convocatoria" tabindex="-1" role="dialog" aria-labelledby="convocatoriaTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h3 class="modal-title text-white" id="modalNacionalTitle">Convocatoria</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="text-white" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form-convocatoria" novalidate="novalidate" ng-submit="add_convocatoria()">
                                <div class="form-row">
                                    <div class="col-md-8 mb-3 form-group">
                                        <label for="validationDefault01">Nombre</label>
                                        <input type="text" class="form-control" id="validationDefault01"
                                            ng-model="form_convocatoria.nombre_convocatoria" required ng-minlength="1"
                                            ng-maxlength="255">
                                    </div>
                                    <div class="col-md-4 mb-3 form-group">
                                        <label required for="validationDefault02">Tipo</label>
                                        <select id="validationDefault02" class="custom-select form-control"
                                            ng-model="form_convocatoria.tipo_convocatoria_id">
                                            <option selected disabled value="">Seleccione uno</option>
                                            <option ng-repeat="tipo in tipos_convocatorias" value="{{tipo.id}}">
                                                {{tipo.tipo}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3 form-group">
                                        <label for="validationDefault04">Fecha de inicio</label>
                                        <input type="date" class="form-control" id="validationDefault04"
                                            ng-model="form_convocatoria.fecha_inicio" required>
                                    </div>
                                    <div class="col-md-6 mb-3 form-group">
                                        <label for="validationDefault05">Fecha de termino</label>
                                        <input type="date" class="form-control" id="validationDefault05"
                                            ng-model="form_convocatoria.fecha_termino" required>
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit">Guardar</button>
                                <button class="btn btn-primary" type="reset">Limpiar</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Modal -->
            <div class="modal fade" id="convocatoriaEdit" tabindex="-1" role="dialog"
                aria-labelledby="convocatoriaEditTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h3 class="modal-title text-white" id="modalEditTitle">Convocatoria</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="text-white" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form-convocatoria" novalidate="novalidate"
                                ng-submit="edit_convocatoria(form_convocatoria.id)">
                                <div class="form-row">
                                    <div class="col-md-8 mb-3 form-group">
                                        <label for="validationDefault01">Nombre</label>
                                        <input type="text" class="form-control" id="validationDefault01"
                                            ng-model="form_convocatoria.nombre_convocatoria" required ng-minlength="1"
                                            ng-maxlength="255">
                                    </div>
                                    <div class="col-md-4 mb-3 form-group">
                                        <label required for="validationDefault02">Tipo</label>
                                        <select id="validationDefault02" class="custom-select form-control"
                                            ng-model="form_convocatoria.tipo_convocatoria_id">
                                            <option selected value="" disabled>Seleccione uno</option>
                                            <option ng-repeat="tipo in tipos_convocatorias" value="{{tipo.id}}">
                                                {{tipo.tipo}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3 form-group">
                                        <label for="validationDefault04">Fecha de inicio</label>
                                        <input type="date" class="form-control" id="validationDefault04"
                                            ng-model="form_convocatoria.fecha_inicio" required>
                                    </div>
                                    <div class="col-md-6 mb-3 form-group">
                                        <label for="validationDefault05">Fecha de termino</label>
                                        <input type="date" class="form-control" id="validationDefault05"
                                            ng-model="form_convocatoria.fecha_termino" required>
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit">Guardar</button>
                                <button class="btn btn-primary" type="reset">Limpiar</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>