<div ng-controller="DatosGeneralesCtrl" class="container" style=" margin-bottom: 25px;">
    <form id="form_datos_personales" ng-submit="submit()">
        <div class="col-sm-12">
            <h5>Información General</h5>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Curp: *</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="curp" style="text-transform:uppercase"
                                maxlength="18" ng-change="find_aspirante_by_curp()" ng-model="form.curp"
                                ng-disabled="disabled.curp">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Nombre: *</label>
                        <input required autocomplete="off" id="nombre" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.nombre" ng-disabled="disabled.nombre">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Primer apellido: *</label>
                        <input required autocomplete="off" id="apellido_1" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.apellido_1"
                            ng-disabled="disabled.apellido_1">
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Segundo Apellido:</label>
                        <input autocomplete="off" id="apellido_2" class="form-control toUpperCase"
                            style="text-transform:uppercase" ng-model="form.apellido_2"
                            ng-disabled="disabled.apellido_2">

                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Genero: *</label>
                        <br>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="1" ng-model="form.genero" ng-disabled="disabled.genero"
                                id="customRadioInlineMasculino" class="custom-control-input toUpperCase" checked>
                            <label class="custom-control-label" for="customRadioInlineMasculino">MASCULINO</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="2" ng-model="form.genero" ng-disabled="disabled.genero"
                                id="customRadioInlineFemenino" class="custom-control-input toUpperCase">
                            <label class="custom-control-label" for="customRadioInlineFemenino">FEMENINO</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Fecha de nacimiento: *</label>
                        <input required type="date" autocomplete="off" id="fecha_nacimiento"
                            class="form-control toUpperCase" style="text-transform:uppercase"
                            ng-model="form.fecha_nacimiento" ng-disabled="disabled.fecha_nacimiento">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>RFC:</label>
                        <input autocomplete="off" id="rfc" minlength="13" maxlength="13"
                            class="form-control toUpperCase" style="text-transform:uppercase" ng-model="form.rfc"
                            ng-disabled="disabled.rfc">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <div class="form-group">
                        <label>Entidad de nacimiento: *</label>
                        <select required autocomplete="off" class="form-control" ng-model="form.nacimiento_entidad_id"
                            ng-disabled="disabled.entidad_id">
                            <option disabled value="">lista de entidades</option>
                            <option ng-repeat="entidad in entidades" ng-if="entidad.id < 33" value="{{entidad.id}}">{{entidad.estado}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class=" text-center" ng-if="form.id == 0">
            <button type="submit" id="datos_personales" class="btn btn-success  align-right"
                ng-disabled="button_disabled">Guardar</button>
        </div>
        <div class=" text-center" ng-if="form.id != 0">
            <button type="submit" id="datos_personales" class="btn btn-success  align-right"
                ng-disabled="button_disabled">Continuar</button>
        </div>
        <div class="text-right">
            <p>Da click <a href="<?= base_url();?>index.php/form/close">Aquí</a> para cambiar de convocatoria</p>
        </div>
    </form>
</div>
<!-- {{paises}} -->